
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


#title {
    display: inline-block;
}

body header img {
    width: 60px ;
} 
h1{
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: 50px;
    margin: 0px;
   
}

body header p {
    font-family: 'Share Tech Mono', monospace;
    margin: 0px;
   
}


hr {
    background-image: url("img/hr-img.png");
    background-repeat: repeat-x;
   
  }

  